# backup file of emacs
*~
work*

# Downloaded files from internet
Download*
download*
corp
tmp

# hidden files
.[a-zA-Z0-9]*

# do not ignore emacs setting
!.emacs.d

# ignore autosave of emacs
.emacs.d/auto-save-list
.emacs.d/eshell
.emacs.d/tutorial

# ignore org downloaded from internet
.emacs.d/org

# ignore emacs packages
.emacs.d/elpa
.emacs.d/el-get/

# virtualbox vm do not managed by GIT
VirtualBox*
Videos*
Ubuntu*One
fontconfig
Calibre*
Dropbox
Music/
GNUstep/
bsdnas
gsa
store
Public/
Documents
quicklisp
Pictures
Firefox_wallpaper.png
