*~
work*
Download*
download*
corp
tmp
.emacs.d/auto-save-list
.emacs.d/org
.emacs.d/elpa
VirtualBox*
Videos*
Ubuntu*One
fontconfig
Calibre*
Dropbox
Music/
GNUstep/
bsdnas
gsa
store
Public/
quicklisp/*
Documents
.[a-zA-Z0-9]*
