.*hist*
*~
.cvspass
work*
Download*
download*
corp
tmp
.emacs.d/auto-save-list
.emacs.d/org
.emacs.d/elpa
VirtualBox*
Videos*
Ubuntu*One
fontconfig
Calibre*
Dropbox
.ICEauthority
.VirtualBox/
.Xauthority*
Music/
GNUstep/
.xsession*
.slime
bsdnas
